/* STARTHTML */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background-color: #141414;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;  
}

.navbar__container {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#main-page {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    display: grid;
    background-color: #141414;
    padding-top: 60px;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button img:hover {
    transform: scale(1.1); 
}

.position_button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.runner__button {
    padding: 250px 80px;
    background-color: #dff7d2;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    border: none;
    border-radius: 25px; 
    font-size: 5px;
    cursor: pointer;
}

@media (max-width: 430px) {
    .position_button {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .runner__button,
    .spectator__button {
        flex: 1 1 auto; 
        max-width: 45%; 
        text-align: center;
    }

    .input-container {
        margin-top: 20px; 
        width: 100%; 
        text-align: center; 
    }
}

.input-container {
    text-align: center;
    margin-top: 20px;
    align-items: center;
}

.input-container input {
    width: 90%; 
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.input-container button {
    width: 90%; 
    max-width: 300px; 
    padding: 10px;
    margin: 10px auto; 
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; 
    text-align: center;
    
}

.input-container button:hover {
    background-color: #0056b3;
}

.input-container h1{
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    color: white;
}

#selectFirstLast {
    display: none;
}

#selectFirstLast.active {
    display: block;
    color: red;
}


#participants-container {
    display: block;
    margin-top: 20px;
    text-align: center;
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    align-items: center;
    justify-content: center;
}

#participants-container h1 {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.participant-entry {
    display: block;
    width: 100%;
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
}

#participant-list {
    border: 0.5px solid grey;
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
}

.spectator__button {
    padding: 250px 80px;
    background-color:#f2beaa; 
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    border: none;
    border-radius: 25px; 
    font-size: 5px;
    cursor: pointer;
}

#resume-restat-popup {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: none; 
    width: 300px; 
    text-align: center; 
}

#resume-restat-popup.active {
    display: block; 
}

#resume-race {
    display: inline-block;
}

#restart-race {
    display: inline-block;
}

/* runnerHTML */

#runner-page {
    display: none;
}

.leaderboard {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.timer__button {
    padding: 80px 80px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 50px;
    cursor: pointer;
}

.submit button:hover{
    background-color: #0056b3;
}

/* Stopwatch */

.stopwatch {
    text-align:center;
    background: white;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}

.time {
    font-size: 48px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.submittion_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.submit {
    padding: 20px 5px;
    background-size: cover;
    background-position: right;
    position: relative;
    color: #003cff;
    border: none;
    border-radius: 25px;
    font-size: 5px;
    cursor: pointer;
}

/* position board */
#lap-list-container {
    display: block;
}

.lap-entry {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: #333;
    max-height: 800px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.lap-time {
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    padding: 7px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participant-selection {
    grid-area: 1 / 2 / 2 / 3;
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-time {
    grid-area: 1 / 3 / 2 / 4;
    padding: 20px 5px;
    background-size: cover;
    background-position: right;
    position: relative;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    max-height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#participants-form button:hover{
    background-color: #0056b3;
}

#every-Participant-Passed {
    display: none;
}

#every-Participant-Passed.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: red;
}

/* participant list popup */

.popup {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffe9b8;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.popup.active {
    display: block; 
}

#participant-list-popup {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: none; 
    width: 300px; 
    text-align: center; 
}

#participant-list-popup.active {
    display: block; 
}

#participants-form  {
    margin-top: 10px;
}

.registered-runners {
    margin-top: 10px;
    padding-top: 10px;
}

.scrollable-container {
    width: 260px;
    height: 125.5px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 14px;
}

.close-popup {
    display: flex;
    justify-content: right;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
}

.overlay.active {
    display: block; 
}


.participant-submittion-entry button{
    border-radius: 0%;
    width: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.participant-submittion-entry button:hover{
    background-color: #0056b3;
}

.participant-selection-button.selected {
    background-color: #0056b3;
    color: white;
    border: 1px solid black;
}

/* Results page */
